@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  border     : 0;
  padding    : 0;
  box-sizing : border-box;
  font-family: "Raleway", sans-serif;

}

:root {
  --bgc_main    : #F5F5F5;
  --fw_bold     : 700;
  --fw_medium   : 500;
  --fw_regular  : 300;
  --color_main  : #464646;
  --color_second: #EAF2FD;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bgc_main);
}

/* GENERAL */

.contenedor {
  padding: 15px 8vw;
}



/* HEADER */
.cabecera {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
}

.cabecera__titulo {
  font-size      : 1rem;
  font-weight    : var(--fw_bold);
  display        : flex;
  justify-content: center;
  align-items    : center;
  gap            : 8px;
}

.cabecera__menu {
  display   : flex;
  list-style: none;
  gap       : 32px;

}

.link {
  text-decoration: none;
  color          : var(--color_main);
  font-size      : 1rem;
  font-weight    : var(--fw_regular);
}

.link:hover {
  text-decoration: underline;
  font-weight    : var(--fw_medium);

}

.cabecera__menu .cabecera__item:last-child .link {
  font-weight: var(--fw_bold);

}



/* PRINCIPAL */

.principal {
  display           : flex;
  flex-direction    : row;
  justify-content   : start;
  align-items       : center;
  /* border         : 2px rgb(225, 145, 145) solid; */
}

.principal .principal__descripcion {
  display          : flex;
  gap              : 10px;
  flex-direction   : column;
  /* border        : 2px red solid; */
  width            : 70%;
}

.principal .principal__descripcion .titulo {
  font-size  : 52px;
  font-weight: var(--fw_bold);
  margin     : 0;

}

.principal .principal__descripcion .descripcion {
  font-size  : 22px;
  font-weight: var(--fw_regular);

}

.principal .principal__descripcion .caja__link {
  display       : flex;
  flex-direction: row;
  gap           : 30px;
}

.principal .principal__imagen {
  /* border: 2px gray solid; */
  width: 30%;
}

.principal .principal__imagen img {
  width        : 365px;
  height       : 365px;
  border-radius: 50%;
  filter       : drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}



/* SOBRE MI */

.sobre__mi {
  /* border          : 2px red solid; */
  background-color: var(--color_second);

}

.sobre__mi .sobre__mi__descripcion {
  width    : 70%;
  /* border: 2px rgb(3, 255, 209) solid; */
}

.sobre__mi .titulo {
  font-size  : 32px;
  font-weight: var(--fw_bold);
}


.sobre__mi .descripcion {
  font-size  : 16px;
  font-weight: var(--fw_regular);
}



/* SKILLS */
.skills {
  background-color   : var(--bgc_main);
  display            : flex;
  flex-direction     : column;
  /* border          : 2px lightsalmon solid; */
}

.skills .container {
  /* border: 2px lightblue solid; */
}

.skills .container .container__title {
  display        : flex;
  justify-content: center;
}

.skills .container .container__title h1 {
  font-size  : 32px;
  font-weight: var(--fw_bold);
}

.skills .container .container__card {
  /* border        : 5px lightgreen dashed; */
  display       : flex;
  flex-direction: row;
  flex-wrap     : wrap;
  gap           : 20px;
}

.skills .container .container__card .skill__card {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  gap            : 20px;

  width        : 100px;
  height       : 100px;
  background   : #fff;
  border-radius: 10px;
}

.skills .container .container__card .skill__card .skill__icon {
  width: 32px;
}

.skills .container .container__card .skill__card .skill__name {
  font-size  : 16px;
  font-weight: var(--fw_bold);
  margin     : 0;
}



/* HOBBIES */
.hobbies {
  background-color   : var(--bgc_main);
  display            : flex;
  flex-direction     : column;
  /* border          : 2px rgb(8, 26, 228) solid; */
}

.hobbies .container {
  /* border: 2px lightblue solid; */
}

.hobbies .container .container__title {
  display        : flex;
  justify-content: center;
}

.hobbies .container .container__title h1 {
  font-size  : 32px;
  font-weight: var(--fw_bold);
}

.hobbies .container .container__card {
  /* border        : 5px rgb(248, 2, 149) dashed; */
  display       : flex;
  flex-direction: row;
  flex-wrap     : wrap;
  gap           : 20px;
}

.hobbies .container .container__card .hobbies__card {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  gap            : 20px;

  width        : 100px;
  height       : 100px;
  background   : #fff;
  border-radius: 10px;
}

.hobbies .container .container__card .hobbies__card .hobbies__icon {
  width: 32px;
}

.hobbies .container .container__card .hobbies__card .hobbies__name {
  font-size  : 16px;
  font-weight: var(--fw_bold);
  margin     : 0;
}



/* FORMACIÓN ACADÉMICA */

.formacion {
  background-color   : var(--color_second);
  display            : flex;
  flex-direction     : column;
  /* border          : 2px rgb(8, 26, 228) solid; */
}

.formacion .container {
  /* border: 2px lightblue solid; */
}

.formacion .container .container__title {
  display        : flex;
  justify-content: center;
}

.formacion .container .container__title h1 {
  font-size  : 32px;
  font-weight: var(--fw_bold);
}

.formacion .container .container__card {
  /* border        : 5px rgb(248, 2, 149) dashed; */
  display       : flex;
  flex-direction: row;
  flex-wrap     : wrap;
  gap           : 20px;
}

.formacion .container .container__card .formacion__card {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : start;
  gap            : 20px;
  width          : 230px;
  height         : 300px;

  /* border      : 3px red solid; */

}

.formacion .container .container__card .formacion__card .img_formacion {
  height             : 180px;
  width              : 100%;
  display            : flex;
  justify-content    : center;
  align-items        : center;
  /* border          : 2px limegreen solid; */
  background-color   : #fff;
  border-radius      : 10px;
}

.formacion .container .container__card .formacion__card .img_formacion img {
  width     : 120px;
  height    : 120px;
  object-fit: contain;
}

.formacion .container .container__card .formacion__card .formacion__descripcion {

  display       : flex;
  flex-direction: column;
  align-items   : flex-start;
  position      : relative;
  left          : 4px;

}

.formacion .container .container__card .formacion__card .formacion__descripcion p {
  margin: 2px 0;
}

.formacion .container .container__card .formacion__card .formacion__descripcion .descripcion__academica {
  font-size  : 19px;
  font-weight: var(--fw_bold);
}

.formacion .container .container__card .formacion__card .formacion__descripcion .descripcion__anio-centro {
  font-size  : 16px;
  font-weight: var(--fw_medium);
}



/* EXPERIENCIA PROFESIONAL */

.experiencia .container {
  /* border        : 2px lightseagreen solid; */
  display       : flex;
  flex-direction: column;
  align-items   : center;
  gap           : 40px;
}

.experiencia .container .container__title h1{
font-size: 32px;
font-weight: var(--fw_bold);
}

.experiencia .container .experiencia__card {
  width         : 100%;
  height        : 450px;
  display       : flex;
  flex-direction: row;

}

.experiencia .container .experiencia__card .img_experiencia {
  width    : 60%;
  /* border: 2px red solid; */

}

.experiencia .container .experiencia__card .img_experiencia img {
  width    : 100%;
  height   : 100%;
  /* border: 2px red solid; */
}

.experiencia .container .experiencia__card .experiencia_descripcion {
  width             : 40%;
  /* border         : 2px rgb(0, 237, 241) solid; */
  display           : flex;
  gap               : 20px;
  flex-direction    : column;
  justify-content   : center;
  line-height       : 10px;
  position          : relative;
  left              : 8px;
}

.experiencia .container .experiencia__card .experiencia_descripcion p {
  margin: 0;
}

.experiencia .container .experiencia__card .experiencia_descripcion .p1 {
  font-size  : 22px;
  font-weight: var(--fw_bold);
  margin     : 0;
}

.experiencia .container .experiencia__card .experiencia_descripcion .p2 {
  font-size  : 16px;
  font-weight: var(--fw_medium);
}

.experiencia .container .experiencia__card .experiencia_descripcion .btn_experiencia {
  display       : flex;
  flex-direction: row;
  gap           : 12px;
}


.experiencia .container .experiencia__card .experiencia_descripcion .btn_experiencia .btn {
  /* border         : 2px #2A7AE4 solid; */
  padding        : 10px;
  text-decoration: none;
}

.btn_experiencia .blanco {
  background-color: #F5F5F5;
  color           : #2A7AE4;
}

.btn_experiencia .azul {
  background-color: #2A7AE4;
  color           : #FFF;
}


/* CONTACTO */

.contacto {
  background-color: var(--color_second);
  position        : relative;
}

.contacto .container {
  display            : flex;
  flex-direction     : row;
  gap                : 16px;
  background-color   : #EAF2FD;
  /* border          : 3px red solid; */
  padding-top        : 80px;
  padding-bottom     : 60px;
}

.contacto .container .contacto__img {
  width : 35%;
  height: 593px;

}

.contacto .container .contacto__img img {
  height: 100%;
  width : 100%;
}


.contacto .container .contacto_formulario {
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  gap            : 20px;
  height         : 593px;
  width          : 65%;
}

.contacto .container .contacto_formulario h2 {
  margin     : 0;
  font-size  : 32px;
  font-weight: var(--fw_bold);
}

.contacto .container .contacto_formulario h2 span {
  font-size  : 16px;
  font-weight: var(--fw_medium);
}

.contacto .container .contacto_formulario .contacto__form {
  display       : flex;
  flex-direction: column;
  gap           : 20px;

  input {
    height : 56px;
    padding: 8px;

  }


  textarea {
    height : 133px;
    resize : none;
    padding: 8px;
  }

  input:focus::placeholder,
  textarea:focus::placeholder {
    color: #2A7AE4;
  }

  input:focus,
  textarea:focus {
    border-bottom: #2A7AE4 2px solid;
    outline      : none;

  }

  .enviar {
    height          : 51px;
    width           : 144px;
    color           : #fff;
    background-color: #2A7AE4;
    font-weight     : 400;
  }
}



/* PIE DE PÁGINA */

.footer {
  background-color: #fff;
  font-size       : 16px;
  font-weight     : var(--fw_medium);
  padding-top     : 20px;
}

.footer .footer__rodape {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  gap            : 8px;
}

.footer .footer__rodape p {
  margin: 0;
}